primjer_schema.xsd

<?xml version='1.0' encoding='UTF-8' ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Osoba">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Ime" type="xs:string"/>
				<xs:element name="Prezime" type="xs:string"/>
				<xs:element name="Kontakt">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Mobitel" type="xs:string"/>
							<xs:element name="Fax" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>